<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>fÜne admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="fÜne manage currency and accounts"/>
    <link href="./bootstrap.superhero.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container-sm">
        <h1 class="display-1 text-center mb-5">
            <!-- <span class="bg-primary pl-1 pr-1 align-middle" style="font-family: monospace;">fї</span> -->
            <img src="favicon64x64.png"/>
            <span class="align-middle"> f<small>Ü</small>ne</span>
        </h1>

        <p class="lead text-center mb-3">
            <t :c="ln" ln="en"><strong>f<small>Ü</small>ne</strong> is a web app to test and play with a simple <a href="https://libre-currency.org">Libre Currency</a> called <strong>f<small>Ü</small>ne</strong> (pronounced /fən/ like fun)</t>
            <t :c="ln" ln="fr"><strong>f<small>Ü</small>ne</strong> est une appli web qui permet de jouer avec une simple <a href="https://monnaie-libre.fr/">Monnaie Libre</a> appelée <strong>f<small>Ü</small>ne</strong> (prononcée /fən/ comme fun en anglais)</t>
        </p>

        <p class="lead text-center mb-5">
            <t :c="ln" ln="en">
                a <small>Ü</small>man account create a new one <small>Ü</small> (the <small>Ü</small>nit of the f<small>Ü</small>ne currency) by day<br>
                <small>old created <strong><small>Ü</small>nits</strong> melt by a given percentage each <strong>revaluation period</strong></small><br>
            </t>
            <t :c="ln" ln="fr">
                un compte <small>Ü</small>main crée une nouvelle <small>Ü</small> (l'<small>Ü</small>nité de la monnaie f<small>Ü</small>ne) par jour<br>
                <small>les anciennes <strong><small>Ü</small>nités</strong> fondent d'un certain pourcentage à chaque <strong>période de réévaluation</strong></small><br>
            </t>
        </p>

        <div class="mb-3 p-3 m-auto" style="width: 350px;">
            <h4 class="text-center">
                <t :c="ln" ln="en">currency</t>
                <t :c="ln" ln="fr">monnaie</t>
            </h4>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text w-50">
                        <t :c="ln" ln="en">Ü revaluation</t>
                        <t :c="ln" ln="fr">réévaluation de Ü</t>
                    </label>
                    <select v-model="editCurrency.mode" id="currencyMode" class="form-select w-50"
                        :class="{'bg-primary': editCurrency.mode != currency.mode}">
                        <option v-if="ln == 'en'" value="melt">melting</option>
                        <option v-if="ln == 'fr'" value="melt">fonte</option>
                        <option v-if="ln == 'en'" value="grew">growth</option>
                        <option v-if="ln == 'fr'" value="grew">croissance</option>
                    </select>
                </div>   
                <div class="input-group mb-3">
                    <span class="input-group-text" v-if="editCurrency.mode == 'melt'">Ü(t-1) = ( 1 - </span>
                    <span class="input-group-text" v-else>Ü(t+1) = ( 1 + </span>
                    <input id="currencyExpression" v-model="editCurrency.expression" type="text" class="form-control text-right"
                        :class="{'bg-primary': editCurrency.expression != currency.expression}">
                    <span class="input-group-text"> ) Ü(t)</span>    
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyStepTime">
                        <t :c="ln" ln="en">day duration</t>
                        <t :c="ln" ln="fr">durée d'un jour</t>
                    </label>
                    <input id="currencyStepTime" v-model="editCurrency.stepTime" type="number" min="10" max="90000" step="10" class="form-control text-right"
                        :class="{'bg-primary': editCurrency.stepTime != currency.stepTime}">
                    <span class="input-group-text">
                        <t :c="ln" ln="en">seconds</t>
                        <t :c="ln" ln="fr">secondes</t>
                    </span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyRevaluationTime">
                        <t :c="ln" ln="en">revaluation period</t>
                        <t :c="ln" ln="fr">réévaluation</t>
                    </label>
                    <input id="currencyRevaluationTime" v-model="editCurrency.revaluationTime" type="number" min="1" max="400" step="1" class="form-control text-right" 
                        :class="{'bg-primary': editCurrency.revaluationTime != currency.revaluationTime}">
                    <span class="input-group-text">
                        <t :c="ln" ln="en">days</t>
                        <t :c="ln" ln="fr">jours</t>
                    </span>
                </div>
                <div class="d-grid gap-2 d-md-flex mb-3" v-if="currencyChange">
                    <button type="button" class="btn btn-secondary mr-auto" @click="Object.assign(editCurrency, currency)">
                        <t :c="ln" ln="en">ündo!</t>
                        <t :c="ln" ln="fr">annüler!</t>
                    </button>
                    <button type="button" class="btn btn-primary" @click="updateCurrency()">
                        <t :c="ln" ln="en">üpdate!</t>
                        <t :c="ln" ln="fr">valïder!</t>
                    </button>
                </div>
                <div class="input-group mb-3 mt-5">
                    <label class="input-group-text" for="currencyMass">
                        <t :c="ln" ln="en">monetary mass (M)</t>
                        <t :c="ln" ln="fr">masse monétaire (M)</t>
                    </label>
                    <input id="currencyMass" :value="currencyDecimal(currency.monetaryMass)" type="text" class="form-control text-right" disabled>
                    <span class="input-group-text">Ü</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyNbMembers">
                        <t :c="ln" ln="en">Üman accounts (N)</t>
                        <t :c="ln" ln="fr">comptes Ümains (N)</t>
                    </label>
                    <input id="currencyNbMembers" :value="currency.nbMembers" type="text" class="form-control text-right" disabled>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyAvg">
                        <t :c="ln" ln="en">average</t>
                        <t :c="ln" ln="fr">moyenne</t>
                    </label>
                    <input id="currencyAvg" :value="currency.nbMembers > 0 ? currencyDecimal(currency.monetaryMass / currency.nbMembers) : 0" type="text" class="form-control text-right" disabled>
                    <span class="input-group-text">Ü</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyLastMelt">
                        <t :c="ln" ln="en">last melting</t>
                        <t :c="ln" ln="fr">dernière fonte</t>
                    </label>
                    <input id="currencyLastMelt" :value="currency.lastMelt" type="text" class="form-control text-right" disabled>
                    <span class="input-group-text">%</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyElapsedTime">
                        <t :c="ln" ln="en">elapsed time (D)</t>
                        <t :c="ln" ln="fr">temps écoulé (D)</t>
                    </label>
                    <input id="currencyElapsedTime" v-model="currency.elapsedTime" type="text" class="form-control text-right" disabled>
                    <span class="input-group-text">
                        <t :c="ln" ln="en">days</t>
                        <t :c="ln" ln="fr">jours</t>
                    </span>
                </div>
            </form>    
        </div>

        <div class="mb-3 p-3 m-auto" style="width: 500px;">
            <h4 class="text-center">
                <t :c="ln" ln="en">transaction</t>
                <t :c="ln" ln="fr">transaction</t>
            </h4>
            <form>
                <div class="input-group">
                    <input v-model="tx.value" type="number" step="any" class="form-control text-right" style="width: 80px;">
                    <span class="input-group-text"><small>Ü</small></span>
                    <label class="input-group-text" for="txFrom">
                        <t :c="ln" ln="en"> fröm </t>
                        <t :c="ln" ln="fr"> de </t> 
                    </label>
                    <select v-model="tx.from" id="txFrom" class="form-select">
                        <option v-for="account in accounts" :value="account.name">{{ account.name }}</option>
                    </select>
                    <label class="input-group-text" for="txTo">
                        <t :c="ln" ln="en"> tö </t>
                        <t :c="ln" ln="fr"> à </t> 
                    </label>
                    <select v-model="tx.to" id="txTo" class="form-select">
                        <option v-if="ln == 'en'" disabled value="">select öne</option>
                        <option v-if="ln == 'fr'" disabled value="">qüi</option>
                        <option v-for="account in accounts" :value="account.name">{{ account.name }}</option>
                    </select>
                    <button type="button" class="btn btn-primary" @click="executeTx()">ök!</button>
                </div>
            </form>
        </div>

        <div class="mt-3 p-3 m-auto" style="max-width: 700px;">
            <h4 class="text-center">
                <t :c="ln" ln="en">accounts</t>
                <t :c="ln" ln="fr">comptes</t> 
            </h4>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>
                            <t :c="ln" ln="en">stats</t>
                            <t :c="ln" ln="fr">stats</t> 
                        </th>
                        <th @click="sortBy('name')">
                            <t :c="ln" ln="en">name</t>
                            <t :c="ln" ln="fr">nom</t> 
                        </th>
                        <th @click="sortBy('role')" class="text-center">
                            <t :c="ln" ln="en">role</t>
                            <t :c="ln" ln="fr">rôle</t>
                        </th>
                        <th @click="sortBy('balance')" class="text-right">
                            <t :c="ln" ln="en">balance</t>
                            <t :c="ln" ln="fr">solde</t>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input :placeholder="ln == 'fr' ? 'nöm' : 'näme'" v-model="newAccount.name" type="text" class="form-control" id="accountName" maxlength="10"/>
                        </td>
                        <td class="text-center">
                            <select v-model="newAccount.role" class="form-control">
                                <option value="human">{{ ln != 'fr' ?  'Üman' : 'Ümain'}}</option>
                                <option value="wallet">{{ ln != 'fr' ?  'wället' : 'sïmple'}}</option>
                                <option value="bank">{{ ln != 'fr' ?  'bänk' : 'bänque'}}</option>
                            </select>
                        </td>
                        <td></td>
                        <td class="text-right">
                            <button type="button" :disabled="3 > newAccount.name.length || accounts.some(_ => _.name == newAccount.name)" class="btn btn-primary" @click="createAccount()">
                                <t :c="ln" ln="en">nëw!</t>
                                <t :c="ln" ln="fr">noüveau!</t>
                            </button>
                        </td>
                    </tr>
                    <tr v-for="account in sortedAccounts">
                        <td :style="{'background-color': getColor(account)}">
                            <input :checked="isSelected(account)" type="checkbox" @click="select(account, $event.target.checked)" v-if="account.role != 'bank'">
                        </td>
                        <td>
                            <a :href="'./#' + account.name">{{ account.name }}</a>
                        </td>
                        <td class="text-left">
                            <span v-if="account.role == 'human'" class="badge bg-primary mr-3" style="width: 50px;">
                                <t :c="ln" ln="en"><small>Ü</small>man</t>
                                <t :c="ln" ln="fr"><small>Ü</small>main</t>
                            </span>
                            <span v-else-if="account.role == 'wallet'" class="badge bg-secondary mr-3" style="width: 50px;">
                                <t :c="ln" ln="en">wället</t>
                                <t :c="ln" ln="fr">sïmple</t>
                            </span>
                            <span v-else class="badge bg-danger mr-3" style="width: 50px;">
                                <t :c="ln" ln="en">bänk</t>
                                <t :c="ln" ln="fr">bänque</t>
                            </span>
                            <a v-if="account.role != 'bank'" href="#" @click.stop.prevent="switchAccountRole(account)">
                                <t :c="ln" ln="en">change</t>
                                <t :c="ln" ln="fr">modifier</t>
                            </a>
                        </td>
                        <td class="text-right">
                            <template v-if="account.role != 'bank'">
                                <strong>{{ currencyDecimal(account.balance) }}<small class="mr-3"> Ü </small></strong>
                                <a href="#" @click.stop.prevent="resetBalance(account.name)">
                                    <t :c="ln" ln="en">reset</t>
                                    <t :c="ln" ln="fr">raz</t>
                                </a>
                            </template>
                        </td>
                        <td class="text-right">
                            <a v-if="account.name != fune.name" href="#" @click.stop.prevent="deleteAccount(account.name)">
                                <t :c="ln" ln="en">delete</t>
                                <t :c="ln" ln="fr">supprimer</t>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <trends
            :data="stats"
            :colors="colors"
            :padding="10"
            :radius="8"
            :stroke-width="1"
            :stroke-linecap="'butt'"
            :min="0"
            auto-draw
            smooth>
        </trends>
        <div class="text-right">
            <span>{{ fune.name }} v{{ fune.version }}</span>
        </div>
    </div>

    

</body>

<script type="module">
    import { Trends } from "./vue-trend.js"

    const uValue = 1000

    const getLanguage = () => (navigator.userLanguage || 
        (navigator.languages && navigator.languages.length && navigator.languages[0]) || 
        navigator.language || navigator.browserLanguage || navigator.systemLanguage).substring(0, 2) == 'fr' ? 'fr' : 'en'

    const app = {
        data() {
            return {
                ln: getLanguage(),
                fune: { name: 'fÜne', logo: 'fї', version: '0'},
                colors: [ '#FFFFFFDD', '#FE4365DD', '#F9CDADDD', '#83AF9BDD', '#A7226EDD', '#F26B38DD', '#F7DB4FDD'],
                accountColors: {},
                maxStats: 4,
                selectedAccounts: ['fÜne'],
                stats: new Array(4),
                sortKey: "name",
                sortOrder: 1,
                newAccount: {name: '', role: 'human'},
                accounts: [],
                tx: {from: 'fÜne', to: '', value: 1},
                editCurrency: {
                    expression: '',
                    mode: 'melt',
                    stepTime: 0,
                    revaluationTime: 0,
                },
                currency: {
                    date: new Date().toISOString(),
                    c: 0,
                    stepTime: 0,
                    elapsedTime: 0,
                    revaluationTime: 0, 
                    playing: false,
                    nbMembers: 0,
                    monetaryMass: 0
                }
            }
        },
        methods: {
            getColor(account) {
                let index = this.selectedAccounts.indexOf(account.name)
                if (index < 0)
                    return null
                return this.colors[index] 
            },
            isSelected(account) {
                return this.selectedAccounts.indexOf(account.name) >= 0
            },
            select(account, visible) {
                let index = this.selectedAccounts.indexOf(account.name)
                if ((index < 1 && !visible) || (index > 0 && visible)) 
                    return 
                if (visible) {
                    if (this.selectedAccounts.length == this.colors.length) {
                        this.selectedAccounts.splice(1, 1)
                        this.colors.push(this.colors.splice(1, 1)[0])
                    }
                    this.selectedAccounts.push(account.name)
                } else {
                    this.selectedAccounts.splice(index, 1)
                    this.stats.splice(index, 1)
                    this.colors.push(this.colors.splice(index, 1))
                }
                this.getStats()
            },
            currencyDecimal(value) {
                return (value/uValue).toFixed(2)
            },
            executeTx() {
                axios
                    .post('/tx', {from: this.tx.from, to: this.tx.to, value: Math.floor(this.tx.value * uValue)})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            getCurrency() {
                axios
                    .get('/currency')
                    .then(response => {
                        this.currency = response.data
                        if (this.editCurrency.expression == '') {
                            Object.assign(this.editCurrency, this.currency)
                        }
                    })
            },
            updateCurrency() {
                axios
                    .patch('/currency', this.editCurrency)
                    .then(response => {
                        this.currency = response.data
                        Object.assign(this.editCurrency, this.currency)
                    })
            },
            listAccounts() {
                axios
                    .get('/accounts')
                    .then(response => {
                        this.accounts = response.data
                    })
            },
            createAccount() {
                this.newAccount.name = this.newAccount.name.trim()
                axios
                    .post('/accounts', this.newAccount)
                    .then(response => {
                        this.listAccounts()
                    })
            },
            switchAccountRole(account) {
                let role = account.role == 'human' ? 'wallet' : 'human'
                axios
                    .patch('/accounts/' + account.name, {role: role})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            resetBalance(name) {
                axios
                    .patch('/accounts/' + name, {balance: 0})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            deleteAccount(name) {
                if (confirm(this.ln == 'fr' ? "êtes vous sûr de supprimer " + name + " ?" : "Are you sure to delete " + name + "?"))
                    axios
                        .delete('/accounts/' + name)
                        .then(response => {
                            this.listAccounts()
                        })
            },
            async getStats() {
                for (let index = 0; index < this.selectedAccounts.length; index++) {
                    const account = this.selectedAccounts[index];
                    if (account) {
                        let response = await axios.get('/accounts/' + account + '/stats')
                        this.stats[index] = response.data
                    }
                }
            },
            refresh() {
                this.listAccounts()
                this.getCurrency()
                this.getStats()
            },
            sortBy(key) {
                if (key == this.sortKey) {
                    this.sortOrder = - this.sortOrder;
                }
                this.sortKey = key
            },
            about() {
                axios
                    .get('/fune')
                    .then(response => {
                        this.fune = response.data
                    })
            },
        },
        computed: {
            sortedAccounts() {
                return this.accounts.sort((a, b) => {
                    let va
                    let vb
                    if (this.sortKey == "selected") {
                        va = this.isSelected(a) | 0
                        vb = this.isSelected(b) | 0
                    } else {
                        va = a[this.sortKey]
                        vb = b[this.sortKey]
                    }
                    return (va === vb ? 0 : va > vb ? 1 : -1) * this.sortOrder
                })
            },
            currencyChange() {
                return this.currency.expression != this.editCurrency.expression
                    || this.currency.mode != this.editCurrency.mode
                    || this.currency.revaluationTime != this.editCurrency.revaluationTime
                    || this.currency.stepTime != this.editCurrency.stepTime;
            }
        },
        mounted() {
            this.about()
            this.refresh()
            setInterval(this.refresh, 60000)
        }
    }


    Vue.createApp(app)
        .component('t', {
            props: ['c', 'ln'],
            template: '<template v-if="c == ln"><slot></slot></template>'
        })
        .component('trends', Trends)
        .mount('#app')


</script>


</html>