<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>fÜne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./bootstrap.superhero.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app" class="container-sm">
        <h1 class="display-1 text-center mb-5"><img src="./favicon.png" class="align-baseline"><span class="align-baseline"> f<small>Ü</small>ne</span></h1>

        <p class="lead text-center mb-3"><strong>f<small>Ü</small>ne</strong> is a web app to test and play with a simple <a href="https://libre-currency.org/">Libre Currency</a> called <strong>f<small>Ü</small>ne</strong> (pronounced /fən/ like fun)</p>

        <p class="lead text-center mb-5">
            a creator account create a new one <small>Ü</small> (the <small>Ü</small>nit of the f<small>Ü</small>ne currency) by day<br>
            <small>old created <strong><small>Ü</small>nits</strong> melt <strong>celerity</strong> % per <strong>revaluation period</strong></small><br>
            <small class="fs-3">that's all fölks !</small><br>
        </p>

        <div class="mb-3 p-3 m-auto" style="width: 320px;">
            <h4 class="text-center">currency</h4>
            <form>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyCelerity">Celerity</label>
                    <input id="currencyCelerity" v-model="editCurrency.c" type="number" class="form-control text-right"
                        :class="{'bg-primary': editCurrency.c != currency.c}">
                    <span class="input-group-text">%</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyStepTime">Day duration</label>
                    <input id="currencyStepTime" v-model="editCurrency.stepTime" type="number" class="form-control text-right"
                        :class="{'bg-primary': editCurrency.stepTime != currency.stepTime}">
                    <span class="input-group-text">seconds</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyRevaluationTime">Revaluation period</label>
                    <input id="currencyRevaluationTime" v-model="editCurrency.revaluationTime" type="number" class="form-control text-right" 
                        :class="{'bg-primary': editCurrency.revaluationTime != currency.revaluationTime}">
                    <span class="input-group-text">days</span>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="currencyElapsedTime">Elapsed time</label>
                    <input id="currencyElapsedTime" v-model="currency.elapsedTime" type="text" class="form-control text-right" disabled>
                    <span class="input-group-text">days</span>
                </div>
                <div class="d-grid gap-2 d-md-flex" v-if="currencyChange">
                    <button type="button" class="btn btn-secondary mr-auto" @click="Object.assign(editCurrency, currency)">ündo!</button>
                    <button type="button" class="btn btn-primary" @click="updateCurrency()">üpdate!</button>
                </div>
            </form>    
        </div>

        <div class="mb-3 p-3 m-auto" style="width: 500px;">
            <h4 class="text-center">transaction</h4>
            <form>
                <div class="input-group">
                    <input v-model="tx.value" type="number" class="form-control text-right" style="width: 80px;">
                    <span class="input-group-text"><small>Ü</small></span>
                    <label class="input-group-text" for="txFrom"> fröm </label>
                    <select v-model="tx.from" id="txFrom" class="form-select">
                        <option value="fÜne">fÜne</option>
                        <option v-for="account in accounts" :value="account.name">{{ account.name }}</option>
                    </select>
                    <label class="input-group-text" for="txTo">tö </label>
                    <select v-model="tx.to" id="txTo" class="form-select">
                        <option disabled value="">select öne</option>
                        <option v-for="account in accounts" :value="account.name">{{ account.name }}</option>
                    </select>
                    <button type="button" class="btn btn-primary" @click="executeTx()">ök!</button>
                </div>
            </form>
        </div>

        <div class="mt-3 p-3 m-auto">
            <h4 class="text-center">accounts</h4>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th @click="sortBy('name')">Name</th>
                        <th @click="sortBy('creator')" class="text-center">Role</th>
                        <th @click="sortBy('balance')" class="text-right">Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input placeholder="näme" v-model="newAccount.name" type="text" class="form-control" id="accountName" />
                        </td>
                        <td class="text-center align-baseline">
                            <input v-model="newAccount.creator" type="checkbox" class="d-none" id="accountCreator">
                            <label for="accountCreator">
                                <span v-if="newAccount.creator" class="btn btn-outline-primary" style="width: 80px;">crëator</span>
                                <span v-else class="btn btn-outline-secondary" style="width: 80px;">wället</span>
                            </label>
                        </td>
                        <td></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-primary" @click="createAccount()">nëw!</button>
                        </td>
                    </tr>
                    <tr v-for="account in sortedAccounts">
                        <td><a :href="'./#' + account.name">{{ account.name }}</a></td>
                        <td class="text-center">
                            <span v-if="account.creator" class="badge bg-primary mr-3">crëator</span>
                            <span v-else class="badge bg-secondary mr-3">wället</span>
                            <a href="#" @click.stop.prevent="changeAccount(account.name, !account.creator)">change</a>
                        </td>
                        <td class="text-right">
                            <strong>{{ currencyDecimal(account.balance) }}<small class="mr-3"> Ü </small></strong>
                            <a href="#" @click.stop.prevent="resetBalance(account.name)">reset</a>
                        </td>
                        <td class="text-right"><a href="#" @click.stop.prevent="deleteAccount(account.name)">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

<script>
    const app = {
        data() {
            return {
                sortKey: "name",
                sortOrder: 1,
                newAccount: {name: '', creator: true},
                accounts: [],
                tx: {from: 'fÜne', to: '', value: 1},
                editCurrency: {
                    c: 0,
                    stepTime: 0,
                    revaluationTime: 0,

                },
                currency: {
                    date: new Date().toISOString(),
                    c: 0,
                    stepTime: 0,
                    elapsedTime: 0,
                    revaluationTime: 0, 
                    playing: false,
                }
            }
        },
        methods: {
            currencyDecimal(value) {
                return (value/100).toFixed(2)
            },
            executeTx() {
                axios
                    .post('/tx', {from: this.tx.from, to: this.tx.to, value: parseInt(this.tx.value) * 100})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            getCurrency() {
                axios
                    .get('/currency')
                    .then(response => {
                        this.currency = response.data
                        if (this.editCurrency.c == 0) {
                            Object.assign(this.editCurrency, this.currency)
                        }
                    })
            },
            updateCurrency() {
                axios
                    .patch('/currency', this.editCurrency)
                    .then(response => {
                        this.currency = response.data
                        Object.assign(this.editCurrency, this.currency)
                    })
            },
            listAccounts() {
                axios
                    .get('/accounts')
                    .then(response => {
                        this.accounts = response.data
                    })
            },
            createAccount() {
                axios
                    .post('/accounts', this.newAccount)
                    .then(response => {
                        this.listAccounts()
                    })
            },
            changeAccount(name, isCreator) {
                axios
                    .patch('/accounts/' + name, {creator: isCreator})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            resetBalance(name) {
                axios
                    .patch('/accounts/' + name, {balance: 0})
                    .then(response => {
                        this.listAccounts()
                    })
            },
            deleteAccount(name) {
                if (confirm("Are you sure to delete " + name + "?"))
                    axios
                        .delete('/accounts/' + name)
                        .then(response => {
                            this.listAccounts()
                        })
            },
            refresh() {
                this.listAccounts()
                this.getCurrency()
            },
            sortBy(key) {
                if (key == this.sortKey) {
                    this.sortOrder = - this.sortOrder;
                }
                this.sortKey = key
            },
        },
        computed: {
            sortedAccounts() {
                return this.accounts.sort((a, b) => {
                    a = a[this.sortKey]
                    b = b[this.sortKey]
                    return (a === b ? 0 : a > b ? 1 : -1) * this.sortOrder
                })
            },
            currencyChange() {
                return this.currency.c != this.editCurrency.c
                    || this.currency.revaluationTime != this.editCurrency.revaluationTime
                    || this.currency.stepTime != this.editCurrency.stepTime;
            }
        },
        mounted() {
            this.refresh();
            setInterval(this.refresh, 60000)
        }
    }


    Vue.createApp(app).mount('#app')

</script>


</html>